.footer {
  background-color: #5B8C4A;
  color: white;
  font-weight: 400;
  font-family: Inter;
  padding-bottom: 5px;
}

.footer__contacts {
  display: flex;
  justify-content: center;
}

.contacts {
  padding-top: 28px;
}

.contacts__contact {
  width: 50px;
  height: 50px;
}

.contacts__contact:not(:last-child) {
  margin-right: 22px;
}

.footer__general-info {
  padding-top: 1px;
}

.footer__web-sait {
  display: inline-block;
}

.web-sait:not(:last-child) {
  margin-bottom: 32px;
}

.web-sait__component:not(:last-child) {
  margin-bottom: 32px;
}

.web-sait__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #FFFFFF;
}

.web-sait__components {
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
}

.web-sait__component:not(:last-child) {
  margin-right: 52px;
}

.web-sait-title {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.web-sait-peoples {
  margin-top: 13px;
}

.web-sait-people {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 4px;
}

.footer__company-sait {
  display: inline-block;
  margin-left: 87px;
}

.navigation-ft {
  display: flex;
  align-self: flex-end;
}

.navigation-ft__link {
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  cursor: pointer;
}

.navigation-ft__link a {
  color: white;
}

.navigation-ft__link:not(:last-child) {
  margin-right: 21px;
}

.location {
  display: flex;
}

.location__name {
  align-self: flex-end;
  margin-right: 15px;
  width: 134px;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.location__path {
  max-width: 400px;
  font-size: 15px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  cursor: pointer;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1120px) {
  .web-sait {
    display: block;
    margin: 0;
  }
}

@media (max-width: 950px) {
  .footer__nav {
    flex-direction: column;
    margin-top: 45px;
  }

  .navigation-ft {
    align-self: center;
  }

  .location__path {
    max-width: 100%;
  }

  .location__path {
    margin-top: 18px;
  }

  .footer__general-info {
    margin-top: 18px;
  }
}

@media (max-width: 450px) {
  .contacts {
    padding-top: 25px;
  }

  .location__path {
    margin-top: 21px;
  }

  .location {
    flex-direction: column;
    justify-content: flex-start;
  }

  .location__name {
    align-self: flex-start;
    margin-top: 21px;
  }

  .footer__general-info {
    margin-top: 32px;
  }
}