@charset "UTF-8";

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: mont;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: mont;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: mont;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: mont;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: mont;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  touch-action: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Wrapper for all connect elements.
 */

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

/* Offset direction
 */

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */

.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3FB8AF;
}

/* Handles and cursors;
 */

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */

.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

/* Disabled state;
 */

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */

.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

/* Horizontal layout;
 *
 */

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.green-button {
  padding: 7px 26px;
  color: white;
  background: #5B8C4A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  transition: 0.5s;
  cursor: pointer;
}

.green-button:hover {
  background: #4a713c;
  box-shadow: 0px 4px 4px rgba(19, 83, 1, 0.25);
}

.product {
  width: 282px;
  min-height: 511px;
  background: #FAFAFA;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  padding: 12px 9px;
}

.product__row {
  display: flex;
  flex-direction: column;
}

.product__img {
  width: 264px;
  height: 302px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__info {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
}

.product__title {
  font-family: mont;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #19390E;
}

.product__description {
  font-family: mont;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #3A5A37;
  margin-top: 8px;
}

.product__price {
  font-family: mont;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #698157;
  margin-top: 11px;
  display: inline-block;
}

.product__discount {
  font-family: mont;
  font-size: 12px;
  line-height: 15px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.28);
  position: relative;
  top: -14px;
  left: -15px;
  display: inline-block;
}

.product__order {
  margin-right: 13px;
}

.product__prices {
  flex-grow: 1;
  flex-basis: auto;
  flex: 1 1 auto;
}

.product__buttons {
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-items: flex-end;
  flex: 1 1 auto;
}

.green-button-mini {
  font-size: 20px;
  line-height: 24px;
  padding: 5px 12px;
  display: inline-block;
}

.product {
  display: flex;
  flex-direction: column;
}

.product__row {
  flex: 1 1 auto;
}

.pages {
  display: flex;
  align-items: center;
}

.pages__arrow {
  cursor: pointer;
  width: 17px;
  height: 32px;
}

.pages__arrow-prev {
  transform: rotate(180deg);
}

.pages__number {
  margin: 0 5px;
  display: flex;
}

.pages__page {
  margin: 0 18px;
  padding: 9px 15px;
  border: 1px solid #DDDDDD;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  font-family: mont;
  color: #DDDDDD;
  cursor: pointer;
  transition-duration: 0.5s;
}

.pages__page_active {
  border: 1px solid #5B8C4A;
  color: #5B8C4A;
}

.pages__page:hover {
  border: 1px solid #6d965f;
  color: #6d965f;
}

.blog {
  width: 334px;
  height: 366px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 7px;
  overflow: hidden;
}

.blog__image {
  width: 100%;
  height: 201px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__content {
  padding: 2px 12px;
}

.blog__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 132.4%;
  letter-spacing: 0.005em;
  color: #3A5A37;
  cursor: pointer;
  display: inline-block;
}

.blog__description {
  font-weight: 600;
  font-size: 20px;
  line-height: 132.4%;
  letter-spacing: 0.005em;
  color: #19390E;
  cursor: pointer;
}

.blog:hover {
  box-shadow: 0px 4px 15px #5CB13D;
  border: none;
}

.blog__title:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.blog__description:hover {
  color: #26680F;
}

.header {
  background-color: #5E7A52;
  min-height: 83px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 83;
  width: 100%;
}

.header__logo {
  width: 146px;
  height: 48px;
  margin-right: 15px;
  border-radius: 3px;
}

.header-menu__item {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.header-menu__item:not(:last-child) {
  margin-right: 36px;
}

.header__burger {
  display: none;
  width: 35px;
  height: 23px;
}

.burger-menu {
  z-index: 999999;
  display: none;
  position: absolute;
  background-color: #5E7A52;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition-duration: 1s;
}

.burger-menu .header-menu__item {
  margin-right: 0;
  font-size: 40px;
  text-align: center;
  display: block;
  padding-bottom: 18px;
  width: 100%;
}

.burger-menu .header-menu__item:not(:last-child) {
  padding-bottom: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 13px;
}

.burger-menu-active {
  display: block;
  top: 83px;
  opacity: 1;
}

.main__first {
  margin-top: 62px;
  position: relative;
}

.first__header {
  font-weight: 600;
  font-size: 96px;
  line-height: 117px;
  color: #DCFFD7;
  position: absolute;
  top: 387px;
  left: 55px;
  display: inline-block;
}

.first__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: none;
  left: 0;
  top: 0;
  z-index: -1;
}

.big {
  margin-top: 272px;
}

.main-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #000000;
}

.big__image {
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 50px;
  width: 577px;
  height: 631px;
  -o-object-fit: cover;
     object-fit: cover;
}

.big__button {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.assortment__title {
  margin-bottom: 108px;
}

.assortment {
  margin-top: 181px;
}

.assortment__button {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.swiper {
  max-width: 992px;
  margin: 0 auto;
  min-height: 511px;
  max-height: 511px;
}

.swiper-slide {
  width: 282px;
  height: 511px;
}

.swiper-button-prev {
  transform: rotate(180deg);
}

.assortment__container {
  position: relative;
}

.assortment__button {
  margin-top: 79px;
}

.main__weblog {
  margin-top: 226px;
}

.weblog__row {
  display: flex;
  justify-content: space-between;
  margin-top: 91px;
}

.weblog__text {
  max-width: 508px;
  margin-left: 46px;
  font-weight: 600;
  font-size: 30px;
  line-height: 132.4%;
  letter-spacing: 0.5%;
  color: #3A5A37;
}

.weblog__blogs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  max-width: 480px;
  max-height: 487px;
}

.weblog__blog {
  padding: 0 15px;
}

.w-blog {
  width: 230px;
  height: 230px;
  display: flex;
  margin-bottom: 27px;
}

.w-blog__image {
  width: 100%;
  height: 127px;
  border-radius: 7px 7px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.w-blog__content {
  width: 210px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 7px;
  flex: 1 1 auto;
}

.w-blog__title {
  font-size: 24px;
  line-height: 132.4%;
  letter-spacing: 0.005em;
  color: #3A5A37;
  padding: 0 8px;
}

.w-log__description {
  font-size: 15px;
  line-height: 132.4%;
  letter-spacing: 0.005em;
  color: #19390E;
  padding: 0 8px;
}

.weblog__button {
  display: flex;
  justify-content: center;
  margin-top: 43px;
}

.main__all-ukraine {
  margin-top: 146px;
}

.all-ukraine__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-ukraine__image {
  margin-top: 37px;
  max-width: 800px;
  max-height: 553px;
  -o-object-fit: contain;
     object-fit: contain;
}

.all-ukraine__button {
  display: flex;
  justify-content: center;
  margin-top: 57px;
  margin-bottom: 139px;
}

.footer {
  background-color: #5B8C4A;
  color: white;
  font-weight: 400;
  font-family: Inter;
  padding-bottom: 5px;
}

.footer__contacts {
  display: flex;
  justify-content: center;
}

.contacts {
  padding-top: 28px;
}

.contacts__contact {
  width: 50px;
  height: 50px;
}

.contacts__contact:not(:last-child) {
  margin-right: 22px;
}

.footer__general-info {
  padding-top: 1px;
}

.footer__web-sait {
  display: inline-block;
}

.web-sait:not(:last-child) {
  margin-bottom: 32px;
}

.web-sait__component:not(:last-child) {
  margin-bottom: 32px;
}

.web-sait__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #FFFFFF;
}

.web-sait__components {
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
}

.web-sait__component:not(:last-child) {
  margin-right: 52px;
}

.web-sait-title {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.web-sait-peoples {
  margin-top: 13px;
}

.web-sait-people {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 4px;
}

.footer__company-sait {
  display: inline-block;
  margin-left: 87px;
}

.navigation-ft {
  display: flex;
  align-self: flex-end;
}

.navigation-ft__link {
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  cursor: pointer;
}

.navigation-ft__link a {
  color: white;
}

.navigation-ft__link:not(:last-child) {
  margin-right: 21px;
}

.location {
  display: flex;
}

.location__name {
  align-self: flex-end;
  margin-right: 15px;
  width: 134px;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.location__path {
  max-width: 400px;
  font-size: 15px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  cursor: pointer;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.main__row {
  display: flex;
}

.main__content {
  margin-top: 38px;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter__product {
  margin-bottom: 37px;
}

.f-product {
  width: 244px;
  background: #5E7A52;
  border-radius: 6px;
}

.f-product__item {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0 8px;
  padding-bottom: 8px;
  padding-top: 12px;
  border-bottom: 1px solid #537246;
  position: relative;
  transition-duration: 0.5s;
}

.f-product__item p {
  cursor: pointer;
}

.f-product__effect {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 95%;
  background-color: #3C5C2F;
  opacity: 0.5;
}

.f-product__icon {
  fill: red;
  color: red;
  stroke: red;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.ft {
  background: #5E7A52;
  border-radius: 6px;
  padding: 8px 11px;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  width: 244px;
  padding-bottom: 71px;
  margin-bottom: 20px;
}

.price-input {
  max-width: 83px;
  border: 1px solid #4D6D41;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 7px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.53);
}

.ft__slider-price {
  width: 181px;
  margin-top: 14px;
  padding-bottom: 12px;
}

.noUi-handle {
  width: 21px;
  height: 21px;
  background: #DCFFD7;
  box-shadow: none;
  border-radius: 50%;
  border: 5px solid #5B8C4A;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-target {
  height: 8px;
  background: #4D6D41;
  border-radius: 6px;
  box-shadow: none;
  border: none;
}

.noUi-handle-lower {
  left: 180px;
}

.noUi-horizontal .noUi-handle {
  width: 29px;
  height: 28px;
  right: -17px;
  top: -9px;
}

.ft-checbox__tick {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: white;
  position: relative;
  background: #4D6D41;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.ft-checbox {
  display: block;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.ft-checbox__tick::before {
  content: url("../img/md_5ффafb099b30a2a 2.svg");
  width: 19px;
  position: absolute;
  z-index: 100;
  height: 19px;
  opacity: 0;
}

.ft-checbox__checbox:checked + .ft-checbox__tick::before {
  opacity: 1;
}

.ft-checbox__checbox {
  display: none;
}

.ft-checbox__text {
  font-size: 16px;
  line-height: 20px;
  margin-left: 8px;
  cursor: pointer;
  color: #FFFFFF;
}

.ft__general-title {
  margin-bottom: 10px;
  margin-top: 12px;
}

.ft-checbox:not(:last-child) {
  margin-bottom: 10px;
}

.ft-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 15px;
}

.ft__ind {
  margin-top: 14px;
}

.main__product {
  padding-left: 12px;
}

.product-catalog {
  width: 100%;
}

.product-catalog__search {
  width: 100%;
}

.product-catalog__search-input {
  display: block;
  border-bottom: 1px solid #3A5A37;
  padding-bottom: 3px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(91, 140, 74);
  width: 100%;
}

.product-catalog__search-input::-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(91, 140, 74, 0.4);
}

.product-catalog__search-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(91, 140, 74, 0.4);
}

.ft-button-filter {
  display: none;
  font-size: 32px;
  padding: 7px 30px;
  line-height: 38px;
}

.adaptive-filter {
  position: fixed;
  top: 0;
  background-color: white;
  left: -100%;
  width: 500px;
  height: 100%;
  transition-duration: 1s;
  z-index: 999999;
  overflow: auto;
}

.adaptive-filter-shadow {
  left: -100%;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 999998;
  opacity: 0;
  top: 0;
  transition-duration: 1s;
  position: fixed;
  transition: opacity 1s;
}

.adaptive-filter-shadow-active {
  left: 0;
  opacity: 1;
}

.adaptive-filter-active {
  left: 0;
}

.adft__title {
  display: flex;
  align-items: center;
  margin-left: 22px;
  margin-top: 16px;
}

.adft__icon {
  width: 37px;
  height: 28px;
  cursor: pointer;
}

.adft__title-title {
  margin-left: 13px;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #3C5C2F;
}

.adft-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #3C5C2F;
}

.adft__title-price {
  margin-top: 2px;
}

.adft-price-input {
  width: 110.26px;
  height: 31px;
  border: 2px solid #4D6D41;
  border-radius: 6px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #3C5C2F;
  padding: 3px 8px;
}

.adft__min-price {
  margin-right: 8px;
  margin-top: 23px;
}

.adft__max-price {
  margin-top: 23px;
}

.ft__slider-price {
  margin-top: 21px;
}

.adft__general-title {
  margin-top: 26px;
}

.adft-checbox__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #3C5C2F;
}

.adft-checbox__tick {
  width: 30px;
  height: 30px;
}

.adft-checbox__tick::before {
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("../img/md_5ффafb099b30a2a 2.svg");
  background-size: cover;
}

.adft-subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #3C5C2F;
}

.adft__ind-subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
}

.adft__ind-title {
  margin-top: 31px;
}

.adft__button-reset {
  display: none;
}

.adf__reset-st {
  padding: 7px 16px;
  font-size: 32px;
  line-height: 38px;
  display: inline-block;
  margin-top: 29px;
  margin-bottom: 20px;
}

.products {
  padding-top: 40px;
  padding-left: 20px;
}

.products__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.products__product {
  padding: 0 15px;
  margin-bottom: 21px;
}

.products__pages {
  display: flex;
  justify-content: center;
}

.products__pages {
  margin-bottom: 111px;
  margin-top: 57px;
}

.main__title {
  display: flex;
  justify-content: center;
  margin-top: 41px;
  margin-bottom: 33px;
  font-family: mont;
  font-weight: 600;
  font-size: 48px;
  line-height: 132.4%;
  letter-spacing: 0.005em;
  color: #3C5C2F;
}

.blogs__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -21px;
  justify-content: center;
}

.blogs__blog {
  padding: 0px 21px;
  margin-bottom: 30px;
}

.main__blog-i {
  margin-bottom: 163px;
}

.i-blog__date {
  display: flex;
  justify-content: end;
  font-weight: 600;
  font-size: 20px;
  line-height: 132.4%;
  letter-spacing: 0.005em;
  color: #3A5A37;
  margin-top: 22px;
}

.i-blog__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 132.4%;
  letter-spacing: 0.005em;
  color: #3A5A37;
}

.i-blog__mini-description {
  margin-top: 22px;
}

.i-blog-desc {
  font-weight: 600;
  font-size: 20px;
  line-height: 132.4%;
  letter-spacing: 0.005em;
  color: #3A5A37;
}

.i-blog__image {
  display: block;
  margin: 0 auto;
  margin-top: 21px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.i-blog__description {
  margin-top: 37px;
}

.bascket {
  display: flex;
  flex-direction: column;
}

.backet__main {
  flex: 1 1 auto;
  margin-bottom: 187px;
}

.ordered {
  margin-top: 50px;
}

.bascket__header {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #3C5C2F;
}

.bascket__line {
  max-width: 1000px;
  height: 2px;
  background-color: #3C5C2F;
}

.bascket__products {
  margin-top: 28px;
}

.bascket__row {
  display: flex;
  flex-direction: column;
}

.bascket__product:not(:last-child) {
  margin-bottom: 16px;
}

.bascket-product {
  max-width: 100%;
  height: 48px;
  background: #5E7A52;
  border-radius: 9px;
}

.b-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.b-product__r-part {
  display: flex;
  align-items: center;
}

.b-product__img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}

.b-product__img-container {
  width: 38px;
  height: 38px;
  background-color: white;
  border-radius: 5px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-product__title {
  margin-left: 17px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.b-product__l-part {
  display: flex;
  align-items: center;
}

.b-product__price {
  margin-right: 48px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.b-product__bascket {
  margin-right: 6px;
  width: 37px;
  height: 37px;
}

.bascket__none {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: rgba(139, 171, 133, 0.35);
  margin-bottom: 50px;
}

body {
  font-family: mont;
  font-weight: 600;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (min-width: 1600px) {
  .first__header {
    left: 400px;
  }
}

@media (min-width: 2120px) {
  .first__header {
    left: 600px;
    top: 500px;
    font-size: 150px;
    line-height: 200px;
  }
}

@media (max-width: 1200px) {
  .header-menu__item {
    font-size: calc(30px + 6 * (100vw - 768px) / 432);
  }

  .header-menu__item:not(:last-child) {
    margin-right: calc(18px + 18 * (100vw - 768px) / 432);
  }

  .first__header {
    font-size: calc(32px + 60 * (100vw - 320px) / 880);
    top: calc(77px + 310 * (100vw - 320px) / 880);
    line-height: calc(39px + 78 * (100vw - 320px) / 880);
  }

  .first__image {
    height: calc(278px + 630 * (100vw - 320px) / 880);
  }
}

@media (max-width: 1120px) {
  .web-sait {
    display: block;
    margin: 0;
  }
}

@media (max-width: 1090px) {
  .swiper {
    width: 606px;
  }
}

@media (max-width: 1070px) {
  .weblog__row {
    flex-direction: column-reverse;
  }

  .weblog__text {
    text-align: center;
    margin: 0 auto;
    margin-top: 63px;
    font-size: 20px;
    line-height: 26px;
  }

  .weblog__button {
    margin-top: 82px;
  }

  .weblog__blogs {
    margin: 0 auto;
    position: relative;
    left: 15px;
  }
}

@media (max-width: 1000px) {
  .main__row {
    flex-direction: column;
  }

  .ft {
    display: none;
  }

  .f-product__item {
    background: #5E7A52;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 21px;
    padding: 6px 12px;
  }

  .f-product__item p {
    display: inline-block;
  }

  .f-product__items {
    max-width: 100%;
  }

  .f-product__icon {
    display: inline-block;
  }

  .f-product {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
  }

  .ft-button-filter {
    display: inline-block;
  }

  .products__row {
    justify-content: center;
  }

  .main__title {
    margin-top: 17px;
    margin-bottom: 37px;
    font-size: 40px;
  }

  .i-blog__date {
    font-size: 16px;
    line-height: 132.4%;
  }

  .i-blog__title {
    font-size: 48px;
    line-height: 132.4%;
  }

  .main__blog-i {
    margin-bottom: 120px;
  }
}

@media (max-width: 950px) {
  .footer__nav {
    flex-direction: column;
    margin-top: 45px;
  }

  .navigation-ft {
    align-self: center;
  }

  .location__path {
    max-width: 100%;
  }

  .location__path {
    margin-top: 18px;
  }

  .footer__general-info {
    margin-top: 18px;
  }
}

@media (max-width: 768px) {
  .main-title {
    font-size: 40px;
  }

  .big__image {
    width: 425px;
    height: 465px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .big {
    margin-top: 126px;
  }

  .assortment__title {
    margin-bottom: 82px;
  }

  .main__weblog {
    margin-top: 131px;
  }

  .weblog__row {
    margin-top: 68px;
  }

  .main__all-ukraine {
    margin-top: 127px;
  }

  .all-ukraine__image {
    max-width: 643.93px;
    max-height: 413px;
  }

  .all-ukraine__button {
    margin-top: 45px;
  }
}

@media (max-width: 700px) {
  .product {
    width: 234px;
    height: 502px;
    padding: 20px, 25px;
  }

  .product__img {
    width: 184px;
    height: 267.36px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 auto;
  }

  .product__title {
    font-size: 20px;
    margin-top: 28px;
  }

  .product__description {
    font-size: 16px;
    margin-top: 10px;
  }

  .green-button-mini {
    font-size: 18px;
    line-height: 21px;
    padding: 6px 7px;
  }

  .header-menu {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .swiper {
    width: 234px;
  }

  .swiper-slide {
    width: 234px;
    height: 502px;
  }
}

@media (max-width: 682px) {
  .big {
    margin-top: 76px;
  }
}

@media (max-width: 650px) {
  .b-product__price {
    display: none;
  }

  .bascket__header {
    font-size: 32px;
    line-height: 39px;
  }

  .bascket__none {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0px;
  }
}

@media (max-width: 600px) {
  .first__header {
    left: 20px;
  }

  .main__all-ukraine {
    margin-top: 93px;
  }

  .all-ukraine__image {
    margin-top: 23px;
    max-width: 290px;
    max-height: 186px;
  }

  .all-ukraine__button {
    margin-top: 34px;
  }
}

@media (max-width: 550px) {
  .green-button {
    padding: 5px 19px;
    font-size: 36px;
    line-height: 44px;
  }

  .green-button-mini {
    font-size: 18px;
    line-height: 21px;
    padding: 6px 7px;
  }

  .pages__number {
    margin: 0 9px;
  }

  .pages__page {
    margin: 0 9px;
  }

  .blog {
    width: 250px;
    height: 273.81px;
  }

  .blog__title {
    font-size: 28px;
  }

  .blog__description {
    font-size: 15px;
  }

  .blog__content {
    padding: 1px 9px;
  }

  .blog__image {
    height: 151px;
  }

  .big {
    margin-top: 47px;
  }

  .assortment__title {
    margin-bottom: 34px;
  }

  .big__image {
    width: 220px;
    height: 241px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .main-title {
    font-size: 20px;
    line-height: 24.38px;
  }

  .main__weblog {
    margin-top: 104px;
  }

  .weblog__row {
    margin-top: 31px;
  }

  .weblog__text {
    margin-top: 29px;
  }

  .w-blog:not(:first-child) {
    display: none;
  }

  .weblog__blogs {
    left: 0px;
  }

  .weblog__button {
    margin-top: 34px;
  }

  .adaptive-filter {
    width: 255px;
  }

  .adft__title {
    margin-left: 0;
    margin-top: 14px;
  }

  .adft__icon {
    width: 30px;
    height: 23px;
  }

  .adft__title-title {
    font-size: 35px;
    line-height: 43px;
    margin-left: 16px;
  }

  .adft-title {
    font-size: 32px;
    line-height: 39px;
  }

  .adft__title-price {
    margin-top: 13px;
  }

  .adft-checbox__text {
    font-size: 20px;
    line-height: 24px;
  }

  .adft-checbox__tick {
    width: 25px;
    height: 25px;
  }

  .adft-checbox__tick::before {
    width: 19px;
    height: 19px;
  }

  .adft-price-input {
    width: 96px;
    height: 31px;
    font-size: 16px;
    line-height: 20px;
  }

  .adft-subtitle {
    font-size: 26px;
    line-height: 32px;
  }

  .adft__ind-subtitle {
    margin-top: 6px;
    margin-bottom: 14px;
  }

  .adft__ind-title {
    margin-top: 36px;
  }

  .adf__reset-st {
    font-size: 24px;
    line-height: 29px;
    margin-top: 28px;
  }

  .main__title {
    margin: 10px 0;
    font-size: 32px;
  }

  .i-blog__date {
    justify-content: start;
  }

  .i-blog__title {
    font-size: 32px;
    line-height: 132.4%;
  }

  .i-blog-desc {
    font-size: 16px;
    line-height: 132.4%;
  }

  .i-blog__mini-description {
    margin-top: 10px;
  }

  .i-blog__image {
    margin-top: 19px;
  }

  .main__blog-i {
    margin-bottom: 73px;
  }
}

@media (max-width: 500px) {
  .ft-button-filter {
    font-size: 24px;
    padding: 4px 13px;
  }
}

@media (max-width: 450px) {
  .contacts {
    padding-top: 25px;
  }

  .location__path {
    margin-top: 21px;
  }

  .location {
    flex-direction: column;
    justify-content: flex-start;
  }

  .location__name {
    align-self: flex-start;
    margin-top: 21px;
  }

  .footer__general-info {
    margin-top: 32px;
  }
}